@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background: whitesmoke;
}

h1 { 
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.image-container a img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Loader at bottom */
.loader {
    display: none; /* hidden by default */
    text-align: center;
    padding: 20px;
}

.loader img {
    width: 50px;
    height: 50px;
}

/* Responsive for small screens */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-container a img {
        width: 100%;
    }
}
